# PHPUnit
/.phpunit.cache
.phpunit.result.cache

# Dependencies
/node_modules
/vendor

# Environment
.env
.env.backup
.env.production

# Laravel
/storage/*.key

# IDEs
/.fleet
/.idea
/.vscode

# Logs
npm-debug.log*
yarn-error.log*

# OS / Packages
*.deb

# Sensitive files
public/google-client-credentials.json

# Temporary files
/temp_imagick

/public